*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: sans-serif;
}

.theme-light {
    --primary: #fff;
    --secondary: whitesmoke;
    --accent: #54c75b;
    --font-color: #000;
    --pure: #fff;
}

.theme-dark {
    --primary: #121212;
    --secondary: #0b0b0b;
    --accent: #54c75b;
    --font-color: #fff;
    --pure: #fff;
}

.theme-ocean {
    --primary: #252c35;
    --secondary: #20272e;
    --accent: #54c75b;
    --font-color: #fff;
    --pure: #fff;
}

.theme-sepia {
    --primary: #fbf1c7;
    --secondary: #eadfb5;
    --accent: #704214;
    --font-color: #704214;
    --pure: #fff;
}

body{
    background: var(--secondary);
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.logo a{
    text-decoration: none;
    color: var(--font-color);
    font-size: 30px;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: var(--font-color);
    font-size: 20px;
}

main{
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--font-color);
}

.text-section h5{
    font-size: 20px;
}
.text-section h3{
    font-size: 24px;
}
.text-section h1{
   color: #54c75b;
   font-size: 50px;
}

button{
    width: 45%;
    outline: none;
    border: none;
    padding: 10px;
    background: var(--accent);
    color: var(--secondary);
    font-weight: 900;
    border-radius: 4px;
    cursor: pointer;
}

img{
    width: 450px;
    border: 20px solid var(--accent);
    border-radius: 50%;
}
nav ul li select {
    display: inline-block;
    height: 30px;
    width: 150px;
    padding: 2px 10px;
    outline: none;
    color: var(--font-color);
    border: none;
    background: var(--secondary);
    border-radius: 4px;
}